.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blue-score-over-time {
  max-width: 250rem;
  max-height: 250rem;
}
